.gridContainer {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    opacity: 0.3;
    overflow: hidden;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: var(--primary);
    /* Gold */
    border-radius: 50%;
    margin: auto;
    transform: scale(0.1);
    /* Start small */
}